/* Editor overrides */
/* TODO Check if this can be avoided */
.codex-editor--narrow .codex-editor__redactor {
  margin-right: 0;
}

.codex-editor__redactor {
  padding-bottom: 0 !important;
}

h1.ce-header {
  @apply font-bold text-xl my-2;
}

.ce-header {
  @apply font-bold;
}

.ce-block .cdx-list {
  @apply pl-4;
}

.ce-block .cdx-list__item {
  padding: 2px 0;
}

.ce-block .cdx-list--unordered {
  @apply pl-0 list-none;
}

.ce-block .cdx-list--unordered li:nth-child(2n) {
  @apply pl-6;
}

.ce-block .cdx-marker {
  @apply bg-white font-semibold;
}
